<center><h1><font color=yellow><i> Deep Learning Ozone </i></font></h1></center>

## $Import$ $Libraries$ :

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers
from tensorflow import keras
from kerastuner.tuners import RandomSearch
from sklearn.metrics import accuracy_score

C:\Users\zaiss\AppData\Local\Temp\ipykernel_40912\66015379.py:9: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  from kerastuner.tuners import RandomSearch

# Data
Step 1 : data Importing

In [7]:
file_path="Data/ozone_complet.csv"
df_ozone=pd.read_csv(file_path, sep=';' )
df_ozone.head()

,date,maxO3,T6,T9,T12,T15,T18,Ne6,Ne9,Ne12,...,Vdir9,Vvit9,Vdir12,Vvit12,Vdir15,Vvit15,Vdir18,Vvit18,Vx,maxO3v
0,19950401,"47,6","10,1","11,6","13,3","13,6","12,2",8.0,8.0,8.0,...,290.0,4.0,300.0,4.0,340.0,4.0,20.0,4.0,"-3,4641","62,2"
1,19950402,"56,2","9,5","9,4","13,8","17,4","16,3",8.0,8.0,7.0,...,160.0,2.0,180.0,3.0,110.0,1.0,350.0,2.0,0,"47,6"
2,19950403,"61,8","3,6",8,"16,8","21,5","20,2",4.0,5.0,2.0,...,20.0,2.0,340.0,1.0,170.0,2.0,170.0,3.0,"-0,342","56,2"
3,19950404,"50,8","9,5","10,5","11,4","12,2","11,4",8.0,7.0,7.0,...,10.0,4.0,350.0,3.0,350.0,3.0,350.0,4.0,"-0,5209","61,8"
4,19950405,"59,8","9,8","10,8","13,8","14,3","13,3",8.0,7.0,8.0,...,340.0,2.0,280.0,1.0,320.0,3.0,350.0,4.0,"-0,9848","50,8"

In [6]:
df_ozone.describe()

       date;maxO3;T6;T9;T12;T15;T18;Ne6;Ne9;Ne12;Ne15;Ne18;Vdir6;Vvit6;Vdir9;Vvit9;Vdir12;Vvit12;Vdir15;Vvit15;Vdir18;Vvit18;Vx;maxO3v
count                                         265.000000
mean                                            5.003774
std                                             2.188984
min                                             2.000000
25%                                             4.000000
50%                                             6.000000
75%                                             6.000000
max                                             8.000000